<link rel="stylesheet" type="text/css" href="//cdn.webix.com/edge/webix.css">
<script src="//cdn.webix.com/edge/webix.js"></script>

<%= stylesheet_pack_tag 'myapp' %>
<%= javascript_pack_tag 'myapp', 'data-turbolinks-track': 'reload' %>

<h1>Jet#index</h1>
<p>Find me in app/views/jet/index.html.erb</p>
